node_modules
dist
docs
.DS_Store
node_modules
/front-end/build
.svelte-kit
/package
.env
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
postgres-data
tsconfig.tsbuildinfo
back-end/__tests__/*.d.ts
coverage
back-end/junit.xml
